<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.component_demo2">
    <application>
        <meta-data
                android:name="com.example.component_demo2.config.Configuration"
                android:value="ConfigModule"/>

        <activity android:name=".demo.Demo2Activity"
                  android:label="demo2"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
