<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.component_demo1">
    <application>
        <meta-data
                android:name="com.example.component_demo1.config.Configuration"
                android:value="ConfigModule"/>

        <activity android:name="com.example.component_demo1.ui.demo.Demo1Activity"
                  android:label="demo1"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.component_demo1.ui.home.HomeActivity"
                  android:label="获取天气"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.component_demo1.ui.dialog.DialogActivity"
                  android:label="测试对话框"
                  android:screenOrientation="portrait"/>

        <activity android:name="com.example.component_demo1.ui.mvvm.MvvmActivity"
                  android:label="测试协程网络请求"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>